.background {
    background-color: #3f434d;
    height: 100vh;
    color: white;
        /* height: 100%; */
}

.header {
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    flex-direction: column !important;
    height: 35vh !important;
    width: 100% !important;
  }

  .title {
    font-size: 5vw !important;
    color: white !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-family: "Montserrat", sans-serif !important;
  }

  .search {
      margin-top: 2.5%;
      margin-left: 44% !important;
      /* background-color: #eef3f8 !important; */
  }

  .meaningColumn {
    margin-top: 5% !important;
    height: 50% !important;
    background-color: white !important;
  }

  .meaningHeader {
    font-size: 1.5vw !important;
    color: #3f434d !important;
    font-weight: bold !important;
    font-family: "Montserrat", sans-serif !important;
  }
  .meaningDesc {
    font-size: 1.vw !important;
    color: #3f434d !important;
    font-weight: bold !important;
    font-family: "Montserrat", sans-serif !important;
  }
  